PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/Kiran_Portfolio_Database?retryWrites=true&w=majority
JWT_SECRET=supersecretkey_kiran_portfolio_12345
CLIENT_URL=http://localhost:5173
